@font-face {
	font-family: 'Overpass';
	font-weight: normal;
	src: url("../fonts/overpass-light.eot?#iefix") format("eot"),
	url("../fonts/overpass-light.woff2") format("woff2"),
	url("../fonts/overpass-light.woff") format("woff"),
	url("../fonts/overpass-light.ttf") format("truetype");
}

@font-face {
	font-family: 'Overpass';
	font-weight: bold;
	src: url("../fonts/overpass-bold.eot?#iefix") format("eot"),
	url("../fonts/overpass-bold.woff2") format("woff2"),
	url("../fonts/overpass-bold.woff") format("woff"),
	url("../fonts/overpass-bold.ttf") format("truetype");
}
